<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task 5</title>
</head>
<body>
<div id="app">
  <p>姓名：{{user.name}}</p>
  <p>年龄：{{user.age}}</p>

  <label>输入姓名:</label>
  <input type="text" v-model="user.name">
  <br>
  <label>输入年龄:</label>
  <input type="text" v-model="user.age">

  <button @click="addAge">年龄涨一岁</button>
  <p>复制到控制台测试</p>
  <textarea name="test" cols="100" rows="30">

  const vm = window.vm = new MVVM({
    el: '#app',
    data: {
      user: {
        name: 'Lei Jiang',
        age: 10
      }
    },
    methods: {
      addAge() {
        this.user.age++
      }
    }
  })


  vm.$watch('user', function (newUser, oldUser) {
    console.log('name changed, from "' + JSON.stringify(oldUser) + '" to "' + JSON.stringify(newUser) + '"')
  }, {
    deep: true
  })

  vm.user.name = 'ycwalker'

  vm.user = {name: 'ciqu', age: 10}

</textarea>
</div>

<script src="dist/main.js"></script>
</body>
</html>
